<div class="page">
  <div class="page-content">
    <div class="row">
      <div class="col-xxl-9 col-xl-8 col-lg-12">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title project-title" style="text-transform: uppercase;">
              {{project.name}}
              <button class="btn btn-pure btn-default icon md-edit btn-edit"></button>
            </h4>
            <p class="card-text">
              Tag: <a href="#" class="ml-5">#{{project.tag}}</a>
            </p>
          </div>
          <!--           Project Team Images
          <div class="card-block">
            <ul class="project-team-items clearfix">
              <li class="team-item">
                <a href="#" class="avatar avatar-sm my-5">
                  <img src="../../assets/assets/portraits/4.jpg">
                </a>
              </li>
              <li class="team-item item-divider">
                <i class="icon md-chevron-right mr-0"></i>
              </li>
              <li class="team-item">
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_1">
                  <img src="../../assets/assets/portraits/1.jpg" />
                </a>
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_2">
                  <img src="../../assets/assets/portraits/2.jpg" />
                </a>
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_3">
                  <img src="../../assets/assets/portraits/3.jpg" />
                </a>
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_4">
                  <img src="../../assets/assets/portraits/5.jpg" />
                </a>
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_5">
                  <img src="../../assets/assets/portraits/6.jpg" />
                </a>
                <a class="avatar avatar-sm my-5 mr-5" data-member-id="m_6">
                  <img src="../../assets/assets/portraits/7.jpg" />
                </a>
              </li>
            </ul>
          </div> -->

          <div class="card-block ">
            <!-- Project Controls
            <div class="project-controls clearfix">
              <div class="float-left">
                <button class="btn btn-outline btn-default">
                  Assign
                </button>
                <div class="dropdown">
                  <button type="button" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="true">
                    More
                  </button>
                  <div class="dropdown-menu">
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      more
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      more
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      more
                    </a>
                  </div>
                </div>
              </div>
              <div class="float-right">
                <button class="btn btn-outline btn-default">
                  Start Project
                </button>
                <button class="btn btn-outline btn-default">
                  Resolve Issue
                </button>
                <div class="dropdown">
                  <button type="button" class="btn btn-default btn-outline dropdown-toggle mr-0" data-toggle="dropdown"
                    aria-expanded="true">
                    Workflow
                  </button>
                  <div class="dropdown-menu">
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      workflow
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      workflow
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem">
                      workflow
                    </a>
                  </div>
                </div>
              </div>
            </div> -->

            <h4 class="card-title">Project Description</h4>
            <p class="card-text">
              {{project.description}}
            </p>
            <p>
              URL: <a href="http://{{project.external_url}}">{{project.external_url}}</a>
            </p>
            <p>
              Git: <a href="http://{{project.git}}">{{project.git}}</a>
            </p>
          </div>

          <div class="card-block project-comments">
            <h4 class="m-0">Progress</h4>
            <!-- If any progress exist -->
            <div class="comments" *ngIf="project.progress">
              <div class="comment media" *ngFor="let progress of project.progress | keyvalue">
                <div class="pr-15">
                  <!-- <a href="#" class="avatar avatar-sm">
                      <img src="../../assets/assets/portraits/1.jpg" alt="...">
                    </a> -->
                </div>
                <div class="comment-body media-body">
                  <div class="comment-title">
                    <div class="comment-meta float-right">
                      <span>{{progress.value.created_in}}</span>
                    </div>
                    <!-- <a href="javascript:void(0)" class="comment-author">
                        Tom Boy
                      </a> -->
                  </div>
                  <div class="comment-content">
                    <p>
                      {{progress.value.summary}}
                    </p>
                    <!-- 
                      <button type="button" class="btn btn-pure btn-default icon md-edit p-0 btn-edit waves-effect waves-light waves-round">
                      </button>
                      <button type="button" class="btn btn-pure btn-default icon md-delete p-0 btn-trash waves-effect waves-light waves-round">
                      </button> -->

                  </div>
                  <!-- <div class="comment-actions text-left">
                      <a href="javascript:void(0)" role="button">Replay</a>
                      <a>
                        <i class="icon md-chevron-down"></i>
                        <span class="pos-number mx-5">1</span>
                        <i class="icon md-chevron-up"></i>
                      </a>
                    </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-block">
            <h4 class="project-option-title">Project Status</h4>
            <!-- <span class="badge badge-default badge-outline mr-5 mb-5">Default</span>
            <span class="badge badge-primary mr-5 mb-5">Primary</span> -->
            <span class="badge badge-success mr-5 mb-5">{{project.state}}</span>
            <!-- <span class="badge badge-info mr-5 mb-5">Info</span>
            <span class="badge badge-warning mr-5 mb-5">Warning</span>
            <span class="badge badge-danger mr-5 mb-5">Danger</span>
            <span class="badge badge-dark mr-5 mb-5">Dark</span> -->
          </div>
          <div class="card-block">
            <h4 class="project-option-title">Assigned to</h4>
            <div class="media mt-0">
              <div class="pr-20 text-middle">
                <a href="javascript:void(0)" class="avatar">
                  <img src="../../assets/assets/portraits/{{project.members[0].id}}.jpg">
                </a>
              </div>
              <div class="media-body">
                <h4 class="mt-0 mb-5 font-size-16">{{project.members[0].name}} {{project.members[0].last}}</h4>
                <span>{{project.members[0].description}}</span>
              </div>
            </div>
          </div>
          <div class="card-block project-participators">
            <h4 class="project-option-title">People</h4>
            <div class="media mt-0" *ngFor="let member of project.members | keyvalue">
              <div class="media-body">
                <a [routerLink]="['/profile', member.value.id]" routerLinkActive="router-link-active" class="avatar avatar-sm text-middle">
                  <img src="../../assets/assets/portraits/{{member.value.id}}.jpg">

                  <span class="font-size-16 ml-5">{{member.value.name}} {{member.value.last}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-block project-dates">
            <h4 class="project-option-title">Dates</h4>
            <p class="mb-10">
              <span>Created: </span>{{project.created_in}}
            </p>
            <!-- <p class="mb-10">
              <span>Updates:</span>
              6 days ago
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-xxl-12">
        <div class="card">
          <!-- Partners Card -->
          <div class="card-block">
            <h4 class="project-option-title">Sponsors</h4>
            <div class="media mt-0" *ngFor="let partner of project.partners | keyvalue">
              <div class="media-body" *ngIf="partner.value.is_active">
                <a href="http://{{partner.value.url}}" target="_blank" class="avatar avatar-sm text-middle">
                  <span class="font-size-16 ml-5" >{{partner.value.name}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>