<!-- Page -->
<div class="page">
  <div class="page-content container-fluid">

    <div class="row">

      <!-- Left Column -->
      <div class="col-lg-6 col-xl-3 pull-xl-6">
        <div class="user-info card card-shadow text-center">
          <div class="user-base card-block">
            <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
              <img src="../../assets/assets/portraits/5.jpg" alt="{{user.profile_pic}}">
            </a>
            <h4 class="user-name">{{user.name}} {{user.last}}</h4>
            <!-- <p class="user-job">Art director</p>
            <p class="user-location">Washington, d.c.</p> -->
            <p class="user-email"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
          </div>

          <div class="user-actions">
            <button class="btn btn-primary btn-round" type="button" name="follow">Edit Profile</button>
            <!-- <div class="dropdown">
              <button class="btn btn-primary btn-round btn-outline dropdown-toggle" data-toggle="dropdown" id="userConnect"
                type="button" name="userConnect">Connect</button>
              <div class="dropdown-menu" aria-labelledby="userConnect" role="menu">
                <a class="dropdown-item" href="#" role="menuitem">
                  <i class="icon md-share"></i> Real Gmat Test
                </a>
                <a class="dropdown-item" href="#" role="menuitem">
                  <i class="icon md-share"></i> Real Gmat Test
                </a>

                <a class="dropdown-item" href="#" role="menuitem">
                  <i class="icon md-share"></i> Real Gmat Test
                </a>
                <a class="dropdown-item" href="#" role="menuitem">
                  <i class="icon md-share"></i> Real Gmat Test
                </a>
                <a class="dropdown-item" href="#" role="menuitem">
                  <i class="icon md-share"></i> Real Gmat Test
                </a>
              </div>
            </div> -->
          </div>

          <!-- <div class="user-stats">
            <a class="user-stat counter" href="javascript:void(0)">
              <span class="counter-number font-size-16">260</span>
              <span class="counter-label inline-block ml-5">Following</span>
            </a>
            <a class="user-stat counter p-15" href="javascript:void(0)">
              <span class="counter-number font-size-16">1.8M</span>
              <span class="counter-label inline-block ml-5">Followers</span>
            </a>
          </div> -->

          <div class="user-socials list-group list-group-full">
            <a *ngIf="user.git" class="list-group-item justify-content-center" href="http://{{user.git}}">
              <i class="icon bd-github"></i> {{user.git}}
            </a>
            <a *ngIf="user.twitter" class="list-group-item justify-content-center" href="http://{{user.twitter}}">
              <i class="icon bd-twitter"></i> {{user.twitter}}
            </a>
            <a *ngIf="user.url" class="list-group-item justify-content-center" href="http://{{user.url}}">
              <i class="fa fa-link" aria-hidden="true"></i> {{user.url}}
            </a>
            
          </div>

          <div class="card-footer">
            Last LogIn: <span id="lastLogin"> 10/15/2018 12:00 AM </span> <br>
            <span *ngIf="user.modifyed_in">Last Modified: {{user.modifyed_in}}</span> <br>
            <span *ngIf="user.created_in">Created In: {{user.created_in}}</span>

          </div>
        </div>
        <!-- End User Info -->
      </div>
      <!-- End Left Column -->

      <!-- Middle Column -->
      <div class="col-lg-12 col-xl-6 push-xl-3">

        <!-- User Background -->
        <div class="user-background card card-shadow">
          <div class="card-header card-header-transparent p-20">
            <h4 class="card-title mb-0">Background</h4>
          </div>

          <div class="card-block">
            <h5 class="card-title">
              <i class="icon md-clipboard"></i>
              <span>Description</span>
            </h5>
            <p class="card-text">
              {{user.description}}
            </p>
          </div>

        </div>
        <!-- End User Background -->

      </div>
      <!-- End Middle Column -->

      <!-- Right Column -->
      <div class="col-lg-6 col-xl-3 ">
      </div>
      <!-- End Right Column -->
    </div>
  </div>
</div>