<!-- Page -->
<div class="page">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <div class="col-xxl-12 col-lg-12">
        <!-- Panel Projects -->
        <div class="panel" id="projects">
          <div class="panel-heading">

            <h3 class="panel-title">Recent Projects</h3>

          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Created In</td>
                  <td>State</td>
                  <td>Ended In</td>
                  <td>Tag</td>
                  <td>Actions</td>
                  
                </tr>
              </thead>
              <tbody>

                <!-- Using keyvalue Angular 6 Pipe to loop trhough an Object.
                  StackOverflow Link: https://stackoverflow.com/questions/35534959/access-key-and-value-of-object-using-ngfor
                  Live Example: https://stackblitz.com/edit/angular6-keyvaluepipe-demo?file=src%2Fapp%2Fapp.value.component.html
                -->

                <tr *ngFor="let p of projects | keyvalue"> 
                  <td>{{p.value.name}}</td>
                  <td>{{p.value.created_in}}</td>
                  <td>{{p.value.state}}</td>
                  <td>{{p.value.ended_in}}</td>
                  <td>{{p.value.tag}}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                      <a [routerLink]="['/projects', p.value.id]">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </a>
                    </button>
                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                      <i class="icon md-close" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
              <tfoot>
                
                <tr aria-colspan="6">
                  <a [routerLink]="[ '/projects' ]" routerLinkActive="active">
                    <button type="button" class="btn btn-block btn-primary waves-effect waves-light waves-round">View
                      more projects</button>
                  </a>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- End Panel Projects -->
      </div>

    </div>
  </div>
</div>
<!-- End Page -->